* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #232a2a;
    font-size: 14px;
    line-height: 18px;
}
hr {
    border: 0;
    border-top: 1px solid #ecf0f0;
    border-bottom:1 px solid white;
    margin: 20px 0px;
}
p {
    margin-bottom:10px;
}
a {
    cursor: pointer;
    color: #4ab367;
    text-decoration: none
}
h1 {
    color: #4ab367;
    font-size: 30px;
    line-height: 40px;
}
a:hover {
    color: #4ab367;
}
#header {
    overflow: hidden;
    background-color: #0f8fe1;
    padding: 15px 15px 0px 15px;
    color: white;
}

#tabs {
    overflow: hidden;
}
.tab {
    float: left;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, .65);
    transition: background-color .3s ease;
}
.tab:hover {
    cursor: pointer;
    color: white;
    background-color: #4ab367;
}
.tab.selected {
    color: white;
    border-bottom: 3px solid white;
}
button:focus, textarea:focus, input[type="text"]:focus {
    outline: none;
}
textarea [type="text"] {
    font-family: Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    display: block;
    width: 100%;
    resize: none;
    border: 0;
    border-bottom: 1px solid #ecf0f0;
    color: #232a2a;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
}
button {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background-color: #6ec07c;
    padding: 10px 15px;
    border-radius: 2px;
    overflow: hidden;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
button:focus, button:hover {
    background-color: #4ab367;
}
button:active {
    background-color: #38a06d;
}
.inner {
    width: 600px;
    margin: 0px auto;
}


#reply {
    font-size: 16px;
}